nav {
  a {
    display: inline-block;
    background: #5571ff;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    color: #fff;
    text-align: center;
    min-width: 80px;
    font-size: 18px;

    &.active {
      background: #ddeeff;
      color: #5571ff;
    }
  }
}