<div *ngIf="patient">
  <h3>
    detail for {{ patient.name }}
  </h3>
  <div>
    <div>id: {{ patient.id }}</div>
    <div>
      <label>Name</label>
      <input [(ngModel)]="patient.name" placeholder="Enter patient name" />
    </div>
    <div>
      <label>Clinic</label>
      <select [(ngModel)]="relClinicId">
        <option *ngFor="let clinic of clinicList"
                value="{{ clinic.id }}"
                [selected]="clinic.id === relClinicId">{{ clinic.name }}</option>
      </select>
    </div>
    <div>
      <label>Therapist</label>
      <select [(ngModel)]="relTherapistId">
        <option *ngFor="let therapist of therapistList"
                value="{{ therapist.id }}"
                [selected]="therapist.id === relClinicId">{{ therapist.name }}</option>
      </select>
    </div>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>